*{
    margin: 0;
}

body{
    background: rgb(255, 242, 232);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid{
    background: rgb(69, 60, 53);
    padding: 0.5vh;
    display: grid;
    grid-template-columns: repeat(10, auto);
    gap: 0.5vh;
}

.grid > div{
    height: min(4vh, 7vw);
    width: min(4vh, 7vw);
    background-color: rgba(182, 166, 166, 0.2);
    border-radius: 0.3vh;
}

.grid .O{
    background-color: rgb(47, 36, 5);
}

.grid .J{
    background-color: rgb(117, 83, 45);
}

.grid .L{
    background-color: rgb(134, 134, 134);
}

.grid .T{
    background-color: rgb(255, 169, 103);
}

.grid .Z{
    background-color: rgb(255, 243, 235);
}

.grid .S{
    background-color: rgb(255, 247, 0);
}

.grid .I{
    background-color: rgba(157, 135, 45, 0.715);
}